//Header
.gameOtherPlayer {
    display: flex;
    flex-direction: column;
    background: $light-blue;
    flex: 1 1 auto;
    max-width: 30rem;
    min-width: 30rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-right: 1rem;
    box-shadow: 0 0 3px #b15b5b;
    height: 47%;
}

.gameOtherPlayer-winner {
    box-shadow: 0 0 10px #2da3d1;
}

.gameOtherPlayer-alive {
    color: green;
}

.gameOtherPlayer-dead * {
    color: red;
    background: $off-black !important;
}

.gameOtherPlayer-disconnected {
    color: yellow;
    background: $off-black !important;
}

.gameOtherPlayer__word-list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 70%;
}

.gameOtherPlayer__word {
    color: $green;
    margin: 0;
    padding: 0.2rem $s-size;
    font-size: 1rem;
    border-bottom: 1px solid lighten($light-blue, 10%);
}

.gameOtherPlayer-input {
    display: flex; //Take same height
    padding: $s-size;
}

.gameOtherPlayer-input__input{
    background: $dark-blue;
    color: lighten($red, 10%);
    border: none;
    border-bottom: 0.3rem solid darken($dark-blue, 10%);
    margin: 0 $s-size;
    padding: $s-size;
    flex: 1 1 auto;
    width: 100%;
}
.gameOtherPlayer-input__input::placeholder{
    color: lighten($red, 10%);
}

.gameOtherPlayer-header {
    background: $off-black;
    color: $red;
    display: flex;
    justify-content: space-between; //Distribute remaining space between
    padding: 1rem $s-size;
    margin:0;
}

.gameOtherPlayer-header__name {
    font-size: $m-size;
    margin: 0;
}

.gameOtherPlayer-header__word_count {
    font-size: $m-size;
    margin: 0;
    color: $green;
}

.gameOtherPlayer-header__status {
    font-size: $m-size;
    margin: 0;
}