
.game-room__container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-height: 80%;
    min-height: 80%;
}

.game-room__header {
    display: flex;
    flex: 0.05 0.05 auto;
    justify-content: flex-start;
    text-align: center;
    align-items: center;
    background: $light-blue;
    max-height: 7rem;
    min-height: 7rem;
    margin: 0;
}

.game-container {
    display: flex;
    flex: 1 1 auto;
    margin: 0;    
    max-height: 80%;
    min-height: 80%;
}

.game-overlay {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    background-color: rgba(15, 57, 94, 0.568);
}

.game-overlay-canvas {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    border: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    cursor: none;
}

.game-overlay__message {
    margin: auto;
}

.game-room__room-info {
    justify-content: space-between;
    margin: 0;
    display: flex;
    flex-grow: 0.25;
    max-width: 35rem;
}

.game-room__button {
    max-width: 10rem;
    min-width: 10rem;
}

.game-room__title {
    flex-grow: 0.25;
    font-size: $m-size;
    color: $off-black;
    vertical-align: middle;
    color: $green;
}

.game-room__id {
    flex-grow: 0.25;
    font-size: $m-size;
    color: $off-black;
    vertical-align: middle;
    color: $green;
}


.game-room__game-info {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    background: $light-blue;
    margin: 0;
}

.game-status__container {
    margin-left: 2rem;
    flex: 1 1 auto;
    color: $off-white;
    font-size: $m-size;
    min-width: 20rem;
    max-width: 20rem;
}

.game-status__label {
    color: $off-white;
    font-size: $m-size;
}

.game-status__status {
    color: gold;
    font-size: $m-size;
}

.game-status__elapsed-time {
    color:gold;
    font-size: $m-size;
}


.game-status__spawn-time {
    color:gold;
    font-size: $m-size;
}


.game-status__last-winner {
    color:gold;
    font-size: $m-size;
}

.game-other-player-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
}

.game-player-spectator-container{
    background: $off-black;
    flex: 1 1;
    display: flex;
    flex-direction: row;
    max-height:29%;
    min-height:29%;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 1 1;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    max-width: 350px;
    min-width: 350px;
}

.column-3 {
    display:flex;
    flex-direction: column;
    flex-basis: 100%;
    flex:2;
}

.game-playing-area-container {
    display: flex;
    flex: 3 3 auto;
    position: relative;
}